/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
lib/.precomp
example/manage-zone-files.p6
*save*
lib/Net/DNS/BIND/bak
lib/Net/DNS/BIND/master
lib/Net/DNS/BIND/slave
lib/Net/DNS/BIND/manage-zone-files.p6
lib/Net/DNS/BIND/hosts
uninst.sh
release-tool.p6
